@import 'nib'

global-reset()

body
	background #eee url("../images/background.png")
	font-family: 'Lato', sans-serif;

h1, h2, h3, h4
	font-family: 'Droid Serif', serif;

.main-title
	font-size 3rem
	color #666
	text-shadow 0 1px white
	text-align center
	margin 2rem 0

a
	text-decoration none

@import '_responsive'
@import 'albums'
@import 'photos'
@import 'photoview'
@import 'connect'
